{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block content %}

    <h1> Mon panier </h1>

    {{dump(cart)}}

    {% for item in cart %}

        <h3>{{item.produit.nom}}</h3>

    {% endfor %}

{% endblock %}
