{% extends 'base.html.twig' %}

{% block title %}New Compose{% endblock %}

{% block body %}
    <h1>Créer un nouveau Compose</h1>

    {{ include('compose/_form.html.twig') }}

    <a href="{{ path('app_compose_index') }}">retour a la liste</a>
{% endblock %}
