{% extends 'base.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouveau Utilisateur</h1>

    {{ include('utilisateur/_form.html.twig') }}

    <a href="{{ path('app_utilisateur_index') }}">retour a la liste</a>
{% endblock %}
