{% extends 'base.html.twig' %}

{% block title %}New Adresse{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Adresse</h1>

    {{ include('adresse/_form.html.twig') }}

    <a href="{{ path('app_adresse_index') }}">retour a la liste</a>
{% endblock %}
